@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- index*/
  .wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  .book-cate__right {
    padding-top: 2.5rem;
  }
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  .wrapper {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .home-primary {
    flex-direction: column;
    padding-bottom: 0;
  }
  .home-primary__left {
    order: 2;
    padding-right: 0;
  }
  .home-primary__right {
    order: 1;
    width: 100%;
  }

  .home-tertiary__small-img {
    width: 100%;
  }
  .home-tertiary__small-content {
    padding: 1.25rem 0 0;
  }

  .home-quaternary__left .home-quaternary__smalls {
    grid-column-gap: 1.5rem;
  }

  .home-quaternary__large-title {
    font-size: 1.75rem;
  }
  .home-quaternary__small-content {
    padding: 0 0 0 1rem;
  }
  .home-quaternary__small-title {
    font-size: 1.125rem;
  }

  .home-quinary__thumb-content {
    padding: 0 0 0 1.75rem;
  }

  .footer-links,
.footer-popular,
.footer-contact {
    margin-top: 1.5rem;
  }

  .footer-info__logo {
    font-size: 2.125rem;
  }

  .book-cate__item-img {
    width: 100%;
  }
  .book-cate__item-content {
    padding: 1.25rem 0;
  }
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .home-primary__left {
    padding-top: 1.25rem;
  }
  .home-primary__des {
    font-size: 1rem;
  }
  .home-primary__meta {
    font-size: 0.875rem;
  }

  .home-secondary__des {
    font-size: 0.875rem;
  }

  .home-tertiary__large-meta {
    font-size: 0.875rem;
  }
  .home-tertiary__large-des {
    font-size: 1rem;
  }
  .home-tertiary__small-des {
    font-size: 0.875rem;
  }

  .home-tertiary__large-content {
    padding-top: 1.25rem;
  }

  .home-quaternary__large-title {
    font-size: 1.5rem;
  }
  .home-quaternary__large-time {
    font-size: 0.875rem;
  }
  .home-quaternary__large-des {
    font-size: 1rem;
  }
  .home-quaternary__left .home-quaternary__small:nth-of-type(1), .home-quaternary__left .home-quaternary__small:nth-of-type(2) {
    border-top: 1px solid #60606050;
  }
  .home-quaternary__small-img {
    width: 100%;
  }
  .home-quaternary__small-content {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
  .home-quaternary__small-des {
    font-size: 0.875rem;
  }
  .home-quaternary__right .home-quaternary__small-content {
    padding: 0;
  }

  .home-quinary__thumb-img {
    width: 100%;
  }
  .home-quinary__thumb-content {
    padding: 1.75rem 1.75rem 0 1.75rem;
  }
  .home-quinary__thumb-meta {
    font-size: 0.875rem;
  }
  .home-quinary__thumb-des {
    font-size: 1rem;
  }

  .footer-info__logo {
    font-size: 2rem;
  }

  .footer-secondary p {
    font-size: 1rem;
  }

  .cate-container {
    padding-top: 1.875rem;
  }
  .cate-left__large-content {
    padding-top: 1.875rem;
  }
  .cate-left__small-img {
    width: 100%;
  }
  .cate-left__small-content {
    padding: 1.875rem 0 0;
  }
  .cate-more__list {
    font-size: 1rem;
  }
  .cate-about__sapo {
    font-size: 1rem;
    padding: 0;
  }

  .latest-post__large-des {
    font-size: 1rem;
  }
  .latest-post__small-img {
    width: 100%;
  }
  .latest-post__small-content {
    padding: 1.25rem;
  }

  .detail-content p {
    font-size: 1rem;
  }

  .detail-top__des {
    font-size: 1rem;
  }

  .book-cate-search {
    height: 3rem;
    border-width: 3px;
  }
  .book-cate-search__btn {
    padding: 0.25rem 1rem;
  }
  .book-cate__item-title {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
