.book-detail {
    &__action {
        &-location {
            background-color: #e4f4ff;
            color: #003580;
            padding: 2px 8px;
            border-radius: 2px;

            & .icon {
                width: 1.125rem;
                margin-right: 0.25rem;
            }
        }
        &-vehicle {
            background-color: #f2f2f2;
            padding: 2px 8px;
            border-radius: 2px;

            & .icon {
                width: 1.125rem;
                margin-right: 0.25rem;
            }
        }
        &-green {
            background-color: #e7fde9;
            color: #088009;
            padding: 2px 8px;
            border-radius: 2px;
            display: inline-block;

            & .icon {
                width: 1.125rem;
                margin-right: 0.25rem;
            }
        }
    }
}
