#back-top {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 3.25rem;
    height: 3.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    & img {
        width: 1rem;
    }
}

.footer {
    &-primary {
        grid-template-columns: 2fr 1fr 1fr 2fr;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-addon {
    }

    // &-form {
    //     outline: 2px dotted transparent;
    //     &:focus-visible,
    //     &:focus {
    //         outline: 2px dotted #333;
    //     }
    // }
    &-input {
        border: 1px solid #60606050;
        border-right: 0;
        &:focus {
            border-color: #e9322d;
            -webkit-box-shadow: 0 0 6px #f8b9b7;
            -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
            color: #e9322d;
        }
    }
    &-btn {
        border: 1px solid #fab04f;
    }
    &__social {
        .item + .item {
            margin-left: 0.9375rem;
        }
    }
}
